/*
You can add your own CSS here.

Click the help icon above to learn more.
*/

.site,.site-header { 
max-width:100%;
}
.site-header{
background-color:#08c;
}
.primary-navigation li:hover > a, .primary-navigation li.focus > a{
background-color:#08c
}

.search-toggle,.search-toggle:hover,.search-toggle.active{
background-color:#08c
}
.search-box{
background-color:white;
border:2px solid whitesmoke;
}

.search-box .search-field {
width:100%;
}

a:active,a:hover,.widget a:hover,.entry-title a:hover,a,.entry-meta a:hover{
color:#08c;
}

.site-footer{
background-color:whitesmoke;
color:black;
}

.site-footer a,.site-footer a:hover,.widget_calendar caption,.widget-title{
color:#08c
}

.widget_calendar tbody a{
background-color:#08c
}
.widget table, .widget th, .widget td{
border-color:whitesmoke;
}


.site-navigation .current_page_item > a, .site-navigation .current_page_ancestor > a, .site-navigation .current-menu-item > a, .site-navigation .current-menu-ancestor > a {
color:white
}
